*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: sans-serif;
}

body{
    /* Gradiente no fundo do site */
    background: rgb(0, 212, 255);
    background: linear-gradient(
      48deg,
      rgba(0, 212, 255, 1) 0%,
      rgba(251, 82, 131, 1) 100%
    );
    /* Centralizar todos os conteúdos */
    justify-content: center;
    align-items: center;
    display: flex;
    /* ocupar todo o tamanho da tela (não sobrar) */
    height: 100vh;
    
    
}

.central{
    /* Todo o conteúdo do site vai ocupar só 80%  de largura(não vai encostar nos cantos do site)*/
    width: 80%;
    /* sombra  */
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    /* arredondamento de borda */
    border-radius: 20px;
    background-color: white;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* esconde tudo que transborda */
    overflow: hidden;
}

.nav{
    /* vai ocupar 100% de largura da tela  */
    width: 100%;
    /* links do menu ficam ao lado do logo do site */
    display: flex;
    /* Centralizei os itens do menu ao meio */
    align-items: center;

}
.logo{
    /* tamanho da imagem do menu */
    width: 50px;
    margin: 30px 0;
}
/* Estilização das UL e LI */
nav{
    width: 100%;
    /* colocou os links do menu na direita */
    text-align: right;
 }
 li{
    /* retirou bolinha e os ancoras dos links */
   
    list-style: none;
    /* os links ficaram um do lado do outro */
    display: inline-block;
    /* margem na direita dos links */
    margin-right: 30px;
}
 .nav-link{
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.nav-link:hover{
   color: #fb5283;

}
.caixa-meio{
    display: flex;
    /* criou um espaço entre o texto e a foto */
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.caixa-esquerda{
    /* Desencostou as frases da direita  */
    margin-left: 50px;
    position: relative;
}
/* Linha ao lado direito da template  */
/* irá funcionar se na configuração do caixa-esquerda for absolute  */
.caixa-esquerda::before{
    content: "";
    width: 10px;
    height: 57%;
    position: absolute;
    left: -40px;
    top: 8px;
    background: linear-gradient(to right, #fb5283, #ff3527);


}

h2{
    font-size: 54px;
}
h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0;
}
h4{
    font-size: 20px;
    color: #000;
    /* e cima e embaixo 30px e aos lados 0 */
    margin: 30px 0;
}

.caixa-meio p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}

.comprar{
    width: 160px;
    border: none;
    padding: 12px 1px;
    outline: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(to right, #fb5283, #ff3527);
}


.comprar img{
    width: 50px;
    /* fez as seta desaparecer */
    display: none;

}
.comprar:hover{
        /* Fez com que a seta ficasse ao lado do texto do botão */
        display: flex;
        /* deixou o texto do menu e a seta ao lado uma da outra */
        flex-direction: row;
        align-items: center;
        /* deixou o texto do botão de um lado e a seta do outro */
        justify-content: space-between;
        transition: all 0.5s ease-in-out;

}
.comprar:hover img{
    /* fez a seta aparecer pq de padrão ela não aparece */
    display: block;
}

.caixa-direita{
    display: flex;
    align-items: center;
    position: relative;
}
.img{
    width: 90%;
    /* a caixa vai ficar atrás do controle, então o z index dele vai ser 12 */
    z-index: 2;
    /* A minha animação vai ter 2s, vai ser infinita, vai ficar indo e voltando e vai ter uma suavização */
    animation: Mover-Controle 2s infinite alternate ease-in-out;
}

/* formatação da caixa colorida */
.caixa-controle{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#ff54a2, #ff575a);    
    /* z-index define o que fica na frente de quem */
    /* a caixa vai ficar atrás do controle, então o z index dele vai ser 1  */
    z-index: 1;
    transform: translateX(150px);
    height: 100%;
    width: 80%;
    border-radius: 50px;
}
.btn-direita{
    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}
.btn-direita img{
    height: 100%;
    width: 100%;
    /* Limitar o tamanho do botão para que ele não fique tão grande  */
    max-width: 55px;
}

/* Estilização dos botões de redes sociais */
.icones-redes-soc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icones-redes-soc img{
    height: 20px;
    margin: 20px;
    cursor:pointer;
}

.menu-icon{
    width: 25px;
    margin-right: 10px;
    /* display none por que eu só preciso do botão quando as dimensões forem menores de 760px, enquanto for maior eu queero que ele suma */
    display: none;
}



/* o menu vai aparecer até 760px, abaixo disso o menu irá desaparecer */
@media (max-width:760px){
    .caixa-meio{
          /* Propriedade que faz com que o contole fique em cima das frases quando a tela for dimunuida  */
          flex-direction: column-reverse;
    }

    .caixa-direita{
        margin-bottom: 30px;
    }
    .caixa-controle{
        /* trouxe a caixa atrás do controle mais pra esquerda  */
        transform: translateX(70px);
    }
    .central{
        /* Ocupando a tela toda (sumir com o gradiente quando a tela fo diminuída) */
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        /* Mostra a barra de rolagem quando a tela ficar pequena */
        overflow: auto;
    }
    /* body{
        background: red;
    } */
     #menu-list{
        /* position: relative; deixou os links abaixo do botão*/
        position: relative;
        top: 60px;
        left: 60px;
        /* overflow: hidden = esconder o menu quando o height: tiver 0px */
        overflow: hidden;
        /* Transição da descida dos links no menu */
        transition: all 0.5 s 0.10s ease-in-out;
     }
     /* Fazer com que o botão do menu apareça quando as diemnsões forem menores que 760px */
     .menu-icon{
        display: block;
        /* O cursor ficar com a maozinha de link no botão */
        cursor: pointer;
     }

     .li-link{
        /* os links vão ficar uns embaixo os outros com essa propriedade */
        display: block;
        margin-top: 5px;
     }

}


@keyframes Mover-Controle{
    from{
        /* Ponto inicial */
        /* Diminuir 5% da posição que ele está e rotacionar 5% */
        transform: translate(-5%, -5%) rotate(-5deg);
    }
   
}


/* TESTES */
/* #box{ */
    /* Quadrado */
    /* width: 500px;
    height: 500px;
    background-color: #000; */
    /* vai demorar 1 segundo pra acontecer quando eu passar o mouse */
    /* transition-delay: 1s; */

    /* transition-duration: 0.5s; */
    /* suvizar o começo e final da transição */
    /* transition-timing-function: ease-in-out; */
/* } */
/* #box:hover{ */
    /* Arredondamento do quadrado */
    /* width: 250px;
    height: 250px;
    background-color: blue;
    border-radius: 50%;
} */



/* background: rgb(237,150,89);
background: linear-gradient(90deg, rgba(237,150,89,1) 0%, rgba(237,211,114,0.969625350140056) 28%, rgba(242,209,83,0.9556197478991597) 71%, rgba(237,150,89,1) 100%); */